<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://kit.fontawesome.com/9a646766b9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@100;200;400;500;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet" />
    <title>Back-end to the future</title>
    <!-- <script defer="defer" src="./static/js/main.1270ba45.js"></script> -->
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <main>
        <section class="viewfinder palette1 typography1">
            <div class="viewfinder__card">
                <div class="viewfinder__card-title">
                    <div class="viewfinder__card-title-rectangule"></div>
                    <div class="viewfinder__card-titlebox">
                        <h2 class="viewfinder__card-title-name">
                            <%= name %>
                        </h2>
                        <h3 class="viewfinder__card-title-job">
                            <%= job %>
                        </h3>
                    </div>
                </div>
                <div class="viewfinder__photo" title="Foto de la tarjeta" style="background-image: url('<%= photo %>')">
                </div>
                <div class="viewfinder__icons">
                    <div class="viewfinder__icons-box">
                        <a class="viewfinder__icons-link" href="tel: <%= phone %>">
                            <i class="fas fa-mobile-alt"></i>
                        </a>
                    </div>
                    <div class="viewfinder__icons-box">
                        <a class="viewfinder__icons-link" href="mailto: <%= email %>">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                    <div class="viewfinder__icons-box">
                        <a class="viewfinder__icons-link" href=" <%= linkedin %>" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    <div class="viewfinder__icons-box">
                        <a class="viewfinder__icons-link" href=" <%= github %>" target="_blank">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>



</body>

</html>